<h1>Question {{question.id}} details:</h1>

<div>
<ul>
    <li> The text of the question is: {{ question.question_text }} </li>
    <li> The publication date of the question is: {{ question.pub_date }} </li>
</ul>
</div>

<h2>The choices:</h2>

{% if error_message %}<p style="color: red;"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>


<a href="{% url 'polls:index'%}">Back to the list of questions</a>