<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandbox</title>
</head>
<body>

<div style="width: 100%; overflow: hidden;">
<div style="width: 55%; float: left;">

    <h1>Input</h1>

    <div style="display: inline-block;">
    <h2>Ratings from the users</h2>
    {% autoescape off %}
        {{ ratings }}
    {% endautoescape %}
    </div>

    <div style="margin-left: 2em; display: inline-block;">
    <h2>Item images</h2>
        {% for id,img in items_picture %}
        <figure style="display: inline-block;">
            <img src=" {{ img.url }}" style="width: 10em;">
            <figcaption>Representation of the item with item_id={{id}}</figcaption>
        </figure>
        {% endfor %}
    </div>

    <div>
    <h2>Item features</h2>
    {% autoescape off %}
    {{ item_df }}
    {% endautoescape %}
    </div>

    <div style="display: inline-block;">
    <h2>Other parameters</h2>

    <ul>
        <li>The number of clusters for item matrix generation: {{ item_clusters }}</li>
        <li>Number of recommendations needed: {{top_results }}</li>
        <li>Weightage for user ratings score: {{ratings_weightage}} %</li>
        <li>Weightage for content score: {{content_weightage}} %</li>
        <li>Value to be used as replacement for missing ratings: {{null_rating_replace}}</li>
    </ul>
    </div>
</div>


    <div style="margin-left: 60%;">
    <h1>Output</h1>
    {% for r,q in result %}
        <h3>Recommendation for user {{ q }}</h3>
        {% autoescape off %}
            {{ r }}
        {% endautoescape %}
    {% endfor %}

</div>
</div>

</body>
</html>