<!DOCTYPE HTML>

<html>
<head>
    <title>Algorithm Playground</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />


    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <link rel="stylesheet" href="{% static 'hotelrecommendation/assets/css/main.css'%}" />
    <noscript><link rel="stylesheet" href="{% static 'hotelrecommendation/assets/css/noscript.css'%}" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <span class="logo"><img src="{% static 'hotelrecommendation/images/paris.png'%}" alt="" style="width: 170px"/></span>
        <h1>Algorithm Playground</h1>
        <p>An experimental platform to explore recommender systems</p>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <section id="content" class="main">
            <!--<span class="image main"><img src="{%static 'hotelrecommendation/images/pic04.jpg'%}" alt="" /></span>-->



            <section id="first" class="main special">

                <header class="major">
                    <h2>Introduction</h2>
                </header>

                <div>
                    <p>Welcome to the Algorithm Playground! This experimental tool is about making algorithms more trustworthy. It aims at bringing a human perspective on decisions made by recommender systems.
                    </p>

                    <p>This is a platform developed by the Edinburgh Team involved in the <a href="https://reentrust.org/about-us/">ReEnTrust Project</a>. This project is about how platform could behave to rebuild user trust. The philosophy of this project is to provide tools for a responsible and transparent using of data and algorithms.
                    </p>

                    <p>This platform gives you the chance to discover how the algorithms influence your choice when looking for a hotel to book. You can compute lists of recommended hotels for several users with different genders and traits. As an outside observer, you can play with the inputs and watch the changings in the outcome. You have the possibility to switch between several recommendation algorithms to see how this choice is crucial for any recommender system.
                    </p>

                </div>

                <header class="major">
                    <h2>How it works?</h2>
                </header>


                <p>The Algorithm Playground makes you explore different versions of a recommendation algorithm. It is based on a so-called hybrid system to specifically recommend hotels. Such systems are based on the ratings from former users to determine a quality score for each hotel.

                    The given recommendation is computed in two steps. First, a form is proposed to be filled, aiming at giving personal details about a fictional customer. Thus, the platform has enough information to search, in the database, which former user is the most similar.

                    Then, the finale result is a recommendation based on the similar user ratings, which are stored in a database consulted by the algorithm to compute which hotels should be recommended to any fictional customer similar to this user.
                </p>

                <ul class="statistics">
                    <li class="style1">
                        <span class="icon fa-bed"></span>
                        <strong>1500+</strong> Hotels
                    </li>
                    <li class="style2">
                        <span class="icon fa-folder-open-o"></span>
                        <strong>1000+</strong> User Data
                    </li>
                    <li class="style3">
                        <span class="icon fa-signal"></span>
                        <strong>10,000+</strong> Ratings
                    </li>
                    <li class="style4">
                        <span class="icon fa-laptop"></span>
                        <strong>FAST</strong> Computation
                    </li>
                    <li class="style5">
                        <span class="icon fa-diamond"></span>
                        <strong>FREE</strong> Service
                    </li>
                </ul>


                <img src="{% static 'hotelrecommendation/images/recommendation.png'%}" alt="" style="width: 100%;margin-left: auto; margin-right: auto;display: block;"/>

                <footer class="major">
                    <form method="post">
                        {% csrf_token %}

                        <div class="col-4 col-12-small user-input-parameter age-class" style="padding: 1em; margin-top: 1em;">
                            <label for="id_dataInstance">IDENTIFICATION CODE</label>
                            <input type="text" name="dataInstance" required="" id="id_dataInstance">
                        </div>

                        <button type="submit" style="font-size: 100%;" >BEGIN!</button>
                    </form>
                </footer>




            </section>






        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>What is this tool?</h2>
            <p>Algorithm Playground is a tool that allows to play with a hybrid recommencer system for hotel recommendation, by using personal details. The filled profile will be compared with thousands of other users. A database of ratings and hotels is used to compute the most accurate recommendation.</p>

        </section>
        <section>
            <h2>A problem? Contact Us</h2>
            <dl class="alt">
                <dt>Email</dt>
                <dd><a href="mailto: ybruno@ed.ac.uk">ybruno@ed.ac.uk</a></dd>
                <dt>Project</dt>
                <dd><a href="https://reentrust.wp.horizon.ac.uk"><img src="{% static 'hotelrecommendation/images/reentrust-logo.png'%}"></a></dd>
            </dl>
            <!--<ul class="icons">-->
            <!--<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>-->
            <!--<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>-->
            <!--<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>-->
            <!--<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>-->
            <!--<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>-->
            <!--</ul>-->
        </section>
        <p class="copyright">&copy; Algorithm Playground</p>
    </footer>

</div>


<script>
    console.log("Hello world!");
</script>

<!-- Scripts -->
<script src="{% static 'hotelrecommendation/assets/js/jquery.min.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/jquery.scrollex.min.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/jquery.scrolly.min.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/browser.min.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/breakpoints.min.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/util.js'%}"></script>
<script src="{% static 'hotelrecommendation/assets/js/main.js'%}"></script>

</body>
</html>